<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC472hUs7YcqBE4KZa8hmlWsVoEUSetVPc</string>
	<key>GCM_SENDER_ID</key>
	<string>759919814051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thebeginning.test</string>
	<key>PROJECT_ID</key>
	<string>thebeginning-3cebf</string>
	<key>STORAGE_BUCKET</key>
	<string>thebeginning-3cebf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759919814051:ios:767c12a9fde6e2e988a616</string>
</dict>
</plist>